{{ define "config.go" }}package config

import (
	"embed"
	"log/slog"
)

// Config is the configuration for the application.
type Config struct {
	Efs       embed.FS     `json:"-"`
	Logging   *slog.Logger `json:"-"`
	Templates string       `json:"templates"`
}
{{ end }}
