{{ define "justfile" }}set dotenv-load

# Build the service binary by using Profile-Guided Optimization (PGO).
build:
    @touch .cpuprofile.out
    @go build \
    -ldflags "-s -w" \
    -pgo .cpuprofile.out \
    -o ./bin/service ./cmd/server/main.go

# Profile the service and generate a CPU profile.
# Switch to another route to make the profile more representative.
profile:
    @go install github.com/tsliwowicz/go-wrk@latest
    @curl -o .cpuprofile.out "http://localhost:$PORT/debug/pprof/profile?seconds=30" &
    @go-wrk -c 100 -d 30 http://localhost:$PORT/static/styles.css

# Run the service.
run: build
    @./bin/service

# Test the Go sources (Units).
test:
    @go test -v -coverprofile=.coverprofile.out ./internal/app/...
    @clear
    @echo "🚦 test coverage: $(go tool cover -func=.coverprofile.out | grep total | awk '{print $3}')"
{{ end }}
