{{ define "middleware.go" }}package api

import (
	"log"
	"net/http"
	"time"

	"{{ .Module }}/internal/app/config"
)

// WithLogging logs the request with method, path and duration.
func WithLogging(cfg *config.Config, next http.HandlerFunc) http.HandlerFunc {
	return func(w http.ResponseWriter, r *http.Request) {
		start := time.Now()
		next(w, r)

		// Log the request with method, path and duration.
		cfg.Logging.Info(
			"http request received",
			"method", r.Method,
			"path", r.RequestURI,
			"duration", time.Since(start),
		)
	}
}
{{ end }}
