{{ define "config.go" }}package config

import (
	"embed"
	"log/slog"
	"os"

	"github.com/andygeiss/cloud-native-utils/messaging"
	"github.com/andygeiss/cloud-native-utils/security"
	"github.com/andygeiss/cloud-native-utils/templating"
)

// Config is the configuration for the service.
type Config struct {
	Efs            embed.FS                 `json:"-"`
	Logging        *slog.Logger             `json:"-"`
	Messaging      messaging.Dispatcher     `json:"-"`
	ServerSessions *security.ServerSessions `json:"-"`
	Templating     *templating.Engine       `json:"-"`
}

// NewConfig creates a new configuration with defaults from environment variables.
func NewConfig() *Config {
	return &Config{
		Logging: slog.New(slog.NewJSONHandler(os.Stdout, &slog.HandlerOptions{
			Level: slog.LevelInfo,
		})),
	}
}

// GetEnvOrDefault returns the value of the environment variable or the default value.
func GetEnvOrDefault(key, defaultValue string) string {
	if value := os.Getenv(key); value != "" {
		return value
	}
	return defaultValue
}
{{ end }}
