{{ define "justfile" }}set dotenv-load

# Compile the Go sources.
build:
    @go build \
    -ldflags "-s -w" \
    -o ./bin/$(basename $PWD) ./cmd/service/main.go

# Generate an encryption key.
genkey:
    @go run cmd/genkey/main.go

# Run the Go sources.
run:
    @./bin/$(basename $PWD)

# Test the Go sources (Units).
test:
    @go test -v -coverprofile=.coverprofile.out ./internal/app/...
{{ end }}
