{{ define "login_test.go" }}package ui_test

import (
	"{{ .Module }}/internal/app/adapters/ingres/ui"
	"{{ .Module }}/internal/app/config"
	"net/http"
	"net/http/httptest"
	"testing"

	"github.com/andygeiss/cloud-native-utils/assert"
	"github.com/andygeiss/cloud-native-utils/templating"
)

func Test_ViewIndex_With_NoSession_Should_RedirectToLogin(t *testing.T) {
	// Arrange
	te := templating.NewEngine(efs)
	te.Parse("testdata/*.tmpl")
	cfg := &config.Config{Templating: te}
	r, _ := http.NewRequest("GET", "/ui/", nil)
	w := httptest.NewRecorder()

	// Act
	ui.ViewIndex(cfg)(w, r)

	// Assert
	assert.That(t, "status code must be 302", w.Code, http.StatusFound)
}

{{ end }}
