{{ define "router.go" }}package ingres

import (
	"context"
	"net/http"

    "{{ .Module }}/internal/app/adapters/ingres/ui"
	"{{ .Module }}/internal/app/config"

	"github.com/andygeiss/cloud-native-utils/logging"
	"github.com/andygeiss/cloud-native-utils/security"
)

// Route creates a new mux with the liveness and readiness probe (/liveness, /readiness),
// the static assets endpoint (/) and the ui endpoints (/ui).
func Route(ctx context.Context, cfg *config.Config) *http.ServeMux {
	// Create a new mux with liveness and readyness endpoint.
	// Embed the assets into the mux.
	mux, serverSessions := security.NewServeMux(ctx, cfg.Efs)

	// Make the server sessions available to the config.
	cfg.ServerSessions = serverSessions

	// Add the index endpoint.
	mux.HandleFunc("GET /ui", logging.WithLogging(cfg.Logging,
		security.WithAuth(serverSessions, ui.ViewIndex(cfg))))

	// Add the login endpoint.
	mux.HandleFunc("GET /ui/login", logging.WithLogging(cfg.Logging,
		ui.ViewLogin(cfg)))

	return mux
}
{{ end }}
